.mfx-text-field, .mfx-password-field{
    -fx-border-color: #c5c1c1 !important;
    -fx-border-radius: none !important;
}

.mfx-progress-bar .track{
    -fx-background-color: red !important;
    -fx-text-fill: red !important;
}

.mfx-progress-bar .bar {
    -fx-accent: red !important;
}

.mfx-progress-bar {
    -fx-base: red !important;
}

.mfx-progress-bar .track {
    -fx-control-inner-background: red !important;
}

.mfx-progress-bar .bar {
    -fx-accent: red !important;
}

.mfx-text-field .text-field {
    -fx-highlight-fill: rgba(238, 235, 235, 0.8) !important; /* Selected text highlight */
    -fx-prompt-text-fill: rgba(255, 254, 254, 0.85) !important; /* Prompt text color */
}

.error-pane{
    -fx-background-color: rgb(211, 47, 47) !important;
    -fx-border-color: #ebccd1 !important;
    -fx-text-fill: white;
}
