.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 0;
}

.tab-pane {-fx-tab-min-width:90px;}
.root {
  -fx-focus-color: none !important;
  -fx-focus-color: transparent !important;
}
.check-box {-fx-border-radius: 0; /* Reset border-radius to avoid interference */}

.check-box .box {
  -fx-background-color: transparent;
  -fx-border-color: #9b9b9b;
  -fx-border-radius: 100;
}

.check-box .box:indeterminate {
  -fx-background-color: #9b9b9b;
}

.check-box .box:selected {
  -fx-background-color: #9b9b9b;
}

.tab{
  -fx-background-insets: 0 1 0 1,0,0;

}
.tab-pane .tab
{
  -fx-background-color: none;
  -fx-border-width: 0;
}

.tab-pane:top *.tab-header-area {
  -fx-background-insets: 0, 0 0 1 0;
  /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
  -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-pane .tab:selected
{
  -fx-text-fill: transparent;
  -fx-border-width: 0;
  -fx-focus-color: none !important;
}



.menuTable .context-menu .menu-item:hover {
  -fx-background-color:  rgba(231, 229, 229, 0.87);
  -fx-text-fill: black !important;
  -fx-cursor: HAND;
}

.menuTable .context-menu {
  -fx-text-fill: black !important;
}
.menuTable .context-menu{
  -fx-text-fill: black !important;
}

.menuTable .context-menu .menu-item{
  -fx-background-color: white;
  -fx-text-fill: black;
}

.tab .tab-label {
  /*-fx-alignment: CENTER;*/
  /*-fx-text-fill: #828282;*/
  /*-fx-font-size: 14px;*/
  /*-fx-font-weight: bold;*/
  /*-fx-border-color: #9b9b9b;*/
  /*-fx-border-width: 0 0 2 0;*/
  /*-fx-padding: 0 10 5 10;*/
  /*-fx-cursor: HAND;*/
}
.tab:selected .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: transparent;
  -fx-focus-color: none !important;
  /*-fx-border-color: black;*/
  /*-fx-border-width: 0 0 2 0;*/
}

.success{
    -fx-background-color: rgba(47, 241, 47, 0.65);
    -fx-text-fill: green;
    -fx-font-weight: bold;
}

.active{
  -fx-background-color: rgba(255, 0, 0, 0.65); /* red background */
  -fx-text-fill: white;
  -fx-font-weight: bold;
}


.table-view{
  -fx-background-color: transparent;
  -fx-focus-color: none !important;
}

.table-view .column-header-background{
  -fx-background-color: #E9E9E9;
  -fx-border-color: rgba(155, 155, 155, 0.33);
  -fx-border-width: 0 0 2 0;
  -fx-padding: 5 20 5 20;
}

.table-view .column-header-background .label{
  -fx-background-color: transparent;
  -fx-text-fill: grey;
  -fx-alignment: CENTER-LEFT;
  
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .table-cell{
  -fx-text-fill: black;
}
.table-row-cell:selected{
  -fx-focus-color: none !important;
  -fx-focus-color: none !important;
  -fx-border-style: none !important;
  -fx-background-color: rgba(253, 252, 252, 0.87);
}
.table-row-cell {
  -fx-background-color: transparent !important;
  -fx-border-color: transparent transparent rgba(252, 250, 250, 0.94) transparent !important;
  -fx-border-width: 0 0 2 0;
}

.table-view .table-cell{
  -fx-border-color: transparent;
}
.table-row-cell:hover {
  -fx-background-color: #93f9b911;
  -fx-text-background-color: red;
}
.table-row-cell:odd{
  -fx-background-color: #93f9b911;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}
.table-row-cell:even{
  -fx-background-color: #1dbbdd11;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}


.text-field:focused{
  -fx-border-color: none !important;
  -fx-border-style: none !important;
}

.text-field{
  -fx-border-color: none !important;
  -fx-border-style: none !important;
}


.firstCol{
  -fx-padding: 0 0 0 20 ;
}

/*.table-row-cell:selected {*/
/*  -fx-background-color: #005797;*/
/*  -fx-background-insets: 0;*/
/*  -fx-background-radius: 1;*/
/*}*/

/*.table-view > .virtual-flow > .scroll-bar:vertical,*/
/*.table-view > .virtual-flow > .scroll-bar:vertical > .track,*/
/*.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,*/
/*.table-view > .virtual-flow > .scroll-bar:horizontal,*/
/*.table-view > .virtual-flow > .scroll-bar:horizontal > .track,*/
/*.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {*/
/*  -fx-background-color: transparent;*/
/*}*/



/*.table-view > .virtual-flow > .scroll-bar > .increment-button,*/
/*.table-view > .virtual-flow > .scroll-bar > .decrement-button {*/
/*  -fx-opacity: 0;*/
/*}*s*/


