<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- config path -->
    <properties resource="config.cfg"/>

    <!-- LOG4J setting -->
    <settings>
        <setting name="logImpl" value="slf4j"/>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="mapUnderscoreToCamelCase" value="FULL"/>
    </settings>

    <!-- table aliases -->
    <typeAliases>
        <typeAlias alias="AppUser" type="com.wuav.client.be.user.AppUser"/>
        <typeAlias alias="AppRole" type="com.wuav.client.be.user.AppRole"/>
        <typeAlias alias="Project" type="com.wuav.client.be.Project"/>
        <typeAlias alias="CustomImage" type="com.wuav.client.be.CustomImage"/>
        <typeAlias alias="Address" type="com.wuav.client.be.Address"/>
        <typeAlias alias="Customer" type="com.wuav.client.be.Customer"/>
        <typeAlias alias="Projector" type="com.wuav.client.be.device.Projector"/>
        <typeAlias alias="Speaker" type="com.wuav.client.be.device.Speaker"/>
        <typeAlias alias="Device" type="com.wuav.client.be.device.Device"/>
    </typeAliases>

    <!-- main environment -->
    <!-- POOLED uses connection pool to manage connections
     - cnn can be reused rather than creating a new one each time
    -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${DRIVER}"/>
                <property name="url"
                          value="${SERVER_TYPE}://${SERVER}:${PORT};databaseName=${DATABASE};trustServerCertificate=${TRUST_CERTIFICATE};"/>
                <property name="username" value="${USER}"/>
                <property name="password" value="${PASSWORD}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- mappers used to map required tables-->
    <mappers>
        <mapper resource="com/wuav/client/mybatis/mapper/AppUser/AppUser.xml"/>
        <mapper resource="com/wuav/client/mybatis/mapper/Project.xml"/>
        <mapper resource="com/wuav/client/mybatis/mapper/AppUser/AppRole.xml"/>
        <mapper resource="com/wuav/client/mybatis/mapper/Image.xml"/>
        <mapper resource="com/wuav/client/mybatis/mapper/Address.xml"/>
        <mapper resource="com/wuav/client/mybatis/mapper/Customer.xml"/>
        <mapper resource="com/wuav/client/mybatis/mapper/Projector.xml"/>
        <mapper resource="com/wuav/client/mybatis/mapper/Speaker.xml"/>
        <mapper resource="com/wuav/client/mybatis/mapper/Device.xml"/>
    </mappers>
</configuration>
